
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# tools
.sublime-project
*.sublime-project
.sublime-workspace
*.sublime-workspace
.idea
.idea*
.vscode
.vscode*
.code-workspace
*.code-workspace
